# 1. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. 
## The element value in the i-th row and j-th column of the array should be i*j.

# Note :
# i = 0,1.., m-1 
# j = 0,1, n-1.
# Input
# Input number of rows: 3                                                                                       
# Input number of columns: 4  
# Output
# [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [18]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]
print(multi_list)
for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col
print(multi_list)

Input number of rows:  3
Input number of columns:  4

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

# Write a Python program to check a triangle is valid or not

In [5]:
def triangle_check(l1,l2,l3):
    if (l1>l2+l3) or (l2>l1+l3) or (l3>l1+l2):
        print('No, the lengths wont form a triangle')
    elif (l1==l2+l3) or (l2==l1+l3) or (l3==l1+l2):
        print('yes, it can form a degenerated triangle')
    else:
        print('Yes, a triangle can be formed out of it')
length1 = int(input('enter side 1\n'))
length2 = int(input('enter side 2\n'))
length3 = int(input('enter side 3\n'))
triangle_check(length1,length2,length3)

enter side 1
 2
enter side 2
 2
enter side 3
 2

Yes, a triangle can be formed out of it

# Write a Python program to construct the following pattern, using a nested loop number.
# 1                                                                                                             
# 22                                                                                                            
# 333                                                                                                           
# 4444                                                                                                          
# 55555                                                                                                         
# 666666

In [11]:
for i in range(7):
    print(str(i) * i)

1
22
333
4444
55555
666666

In [25]:
for i in range(6,0,-1):
    print( '*' * i)

******
*****
****
***
**
*

In [38]:
for i in range(7):
    print('1' * i)

1
11
111
1111
11111
111111

#  Write a Python program to construct the following pattern, using a nested for loop.
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

In [52]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Write a Python program that accepts a string and calculate the number of digits and letters
# Sample Data : "Python 3.2"
# Expected Output :
# Letters 6 
# Digits 2

In [60]:
string = input("Input a string")
digit = letter = 0

for i in string:
    if i.isdigit():
        digit += 1
    elif i.isalpha():
        letter += 1
    else:
        pass

print("Letters", letter)
print("Digits", digit)

Input a string Python 12.12

Letters 6
Digits 4

# Count the number of even and odd numbers from a series of numbers
# Input 
# numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
# Output
# Number of even numbers : 4                                                                                    
# Number of odd numbers : 5

In [74]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
evenCount = 0
oddCount = 0
for i in numbers:
    if i%2 == 0:
        evenCount += 1
        print("even",i)
    else:    
        oddCount += 1
        print("odd",i)
        
print(f"even count : {evenCount}")
print(f"odd count : {oddCount}")

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even count : 4
odd count : 5

# Write a Python program to get the Fibonacci series between 0 to 50

In [80]:
x,y=0,1
while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

#  Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700

In [133]:
numbers = []
for i in range(1500, 2701):
    if i%7 == 0 and i%5 == 0:
        numbers.append(i)

print(numbers)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [129]:
# as string
nl=[]
for x in range(1500, 2700):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

# Generate a random number between 1 and 9 (including 1 and 9).
# Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right.